/* Banner container FILTRO*/
.BannerDeColorTalentos {
    width: 100%;
    height: 400px;
    top: 0px;
    background-size: 90px;
    background-position: center;
    margin-bottom: 0%;
    background-image: url('public/images/BannerTablero.png');
    background-size: cover;
    
  }

  /*Texto responsivo BUSQUEDA TALENTO */
  @media screen and (max-width: 600px) {
    .textoTalento {

      font-size: 35px;
      margin-top: 10%;
      
    }        
    }


    
h1 {
    font-family: "Heavitas", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
  }
  h2 {
    font-family: "Heavitas", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
  }
  h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
  }
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #424242;
  }