h5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #424242;
}