.boton-activo {
    background-color: #F6990E;
    border-radius: 8px;
    border: none;
    padding: 5%;
}


.btn-primary {
color:white ;

.contenedorTalentos {
margin-bottom: 2%;
}

@media screen and (max-width: 600px) {}
    .contenedorTalentos {
        margin-bottom: 10%;
    }  
}