h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #424242;
}
.cartasInfo {
    margin: 0px;
    padding: 0px;
}
.cartainfo1 {
    margin: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .cartasInfo {
      display: flex;
      flex-direction: column;
      justify-content: left;
      
    }  
    }