h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #424242;
}
.cartasInfo {
    margin: 0px;
    padding: 0px;
}
.cartainfo1 {
    margin: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
  }
  @font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
  }