h1 {
    font-family: "Heavitas", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}

@font-face {
    font-family: "Heavitas";
    src: url("fonts/Heavitas.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.banner-container-acerca {
    position: relative;
    text-align: center;
}

.banner-image-acerca {
    width: 100%;
    height: auto;
}

.banner-text-container-acerca {
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.banner-title-main-acerca {
    font-size: 4vw;
    margin: 0;
    color: white;
}

.banner-title-sub-acerca {
    font-size: 5vw;
    margin: 0;
    color: white;
}