/*banner principal pagina VISTA EMPRESAS*/
.BannerDeColorEmpresa {
    width: 100%;
    top: 50px;
    height: 400px; 
    margin-bottom: 35px;
    /*background-color: #0492d0;*/
    background-size: cover;
    background-position: center;
    background-image: url('images/BannerEmpresa2.jpeg');

  }


  
  /*texto "EMPRESAS ASOCIADAS*/
  .textoEmpresa {
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  
h1 {
  font-family: "Heavitas", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
h2 {
  font-family: "Heavitas", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: italic;
  color: #424242;
}