/*CHECKBOX*/
.checkbox {
    --light: #E5E8F6;
    --primary-color: #0492D0;
    --duration: 0.3s;
    --ease: ease-in-out;
  }
  
  /* hide checkbox */
  .checkbox input[type="checkbox"] {
    display: none;
  
  }
  
  .checkbox label {
    align-items: center;
    cursor: pointer;
    display: flex;
    align-content: center;
    color: #424242;
  }
  
  .checkbox label span {
    margin-left: 8px;
    font-size: 17px;
  }
  
  .checkbox svg {
    height: 36x;
    width: 36px;
  }
  
  /* svg rectangle property */
  .checkbox svg>rect {
    fill: var(--light);
    stroke: #0492D0;
    /* responsive values */
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
    transition: var(--duration) stroke-dashoffset var(--ease);
  }
  
  /* svg check property */
  .checkbox svg path {
    stroke: var(--primary-color);
    /* responsive values */
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    transition: var(--duration) stroke-dashoffset var(--ease);
  }
  
  .checkbox input[type="checkbox"]:checked+label svg>rect,
  .checkbox input[type="checkbox"]:checked+label svg path {
    stroke-dashoffset: 0;
  }
  
  .div-check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
  }