h1 {
    font-family: "Heavitas", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}
h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
}
#LoginForm {
  margin: 20px;
}
#ContenedorEmail {
  margin-top: 20px;
  margin-bottom: 20px;

}
#ContenedorContraseña {
  margin-bottom: 20px;

}