/* Estilos para el contenedor principal del formulario */
.container.col-md-8 {
  max-width: 600px;
  margin: auto;
}

#ContenedorEmail,
#ContenedorContraseña {
  margin-bottom: 20px;
}
.form-floating {
  position: relative;
}

.form-control {
  width: 100%;
}

.boton-inicio {
  width: 100%;
  color: white;
  font-size: medium;
}

/* Estilos para el enlace de registro */
.text-center a {
  color: #007bff;
}
#LoginForm {
  margin: 20px;
}

@media screen and (max-width: 767px) {
  .container.col-md-8 {
      max-width: 100%;
  }

  .form-control,
  .boton-inicio {
      width: 100%;
  }
}