body {
    padding: 0;
}

.banner-container {
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.banner-content img {
    height: auto;
    margin: 0;
    box-sizing: border-box;
}

.banner-content .large-heading {
    display: flex;
    align-items: center;
    margin: 0;
    word-wrap: break-word;
    text-align: left;
}

.subheading-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.subheading-container h3 {
    margin: 0;
    word-wrap: break-word;
    color: #e5e8f6;
    text-align: left;
}

@media screen and (max-width: 2600px) {
    .banner-container {
        height: 100vh;
        justify-content: flex-start;
    }

    .banner-content {
        padding-left: 90px;
    }

    .banner-content img {
        max-width: 100%;
    }

    .banner-content .large-heading {
        font-size: 5.8rem;
        line-height: 100px;
        max-width: 50%;
    }

    .subheading-container {
        margin-top: 14px;
    }

    .subheading-container h3 {
        max-width: 45%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .banner-container {
        height: 45vh;
        justify-content: center;
    }

    .banner-content {
        padding-left: 7px;
    }

    .banner-content img {
        max-width: 100%;
    }

    .banner-content .large-heading {
        font-size: 3.8rem;
        line-height: 55px;
        max-width: 100%;
    }

    .subheading-container {
        margin-top: 3px;
    }

    .subheading-container h3 {
        max-width: 100%;
        font-size: 1.2rem;
    }

}