.modal-header {
    text-align: center;
}

.custom-modal-content {
    width: 100%;
    height: 55%;
    margin: auto;
    padding: 10px;
    background-color: #E5ECF6;
    text-align: center;
    top: 50px;
    transform: translate(0, 25%);
    border-radius: 20px;

}

@media screen and (max-width: 600px) {
    .custom-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: left;

    }
}