.card-body-columna3{
  display: flex;
  flex-direction: row;
  
  align-items:center ;
  
}

.cardF3 {
    border-radius: 10px;
    margin: 10px; 
    padding: 10px;

}
.card-title {
  
  
  margin-left: -15px;
   

}
.card-text {
  
  
  margin-left: 5px;
   

}

.mx-auto2 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }  


  h1 {
    font-family: "Heavitas", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
  }

  h2 {
    font-family: "Heavitas", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
  }

  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
  }

  h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
  }

  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #424242;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #424242;
  }