#formulario {
    background-color: #e5ecf6;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 20px;
}

#infoPersonal {
    color: #424242;
    margin-bottom: 30px;
}

#textInteres {
    margin-bottom: 30px;
    margin-top: 15px;
    color: #424242;
}
.contenedor-formulario-talento {
    background-color: #e5ecf6;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 40px;
}
@media screen and (max-width: 600px) {
    .contenedor-formulario-talento {
      display: flex;
      flex-direction: column;
      justify-content: left;
      
    }  
    }
