#cardsPancho {
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 80px;
}
#borderCards {
    border-radius: 20px;
}
@media screen and (max-width: 600px) {
    .contenedor-cartas {
      display: flex;
      flex-direction: column;
      justify-content: left;
      
    }  
    }