.cardF2 {
    border-radius: 10px;
       
    margin: 10px; /* Espaciado exterior para separar los contenedores */
    padding: 10px; /* Espaciado interior dentro del contenedor */

.colmunaF1 {
   
        margin-bottom: 10px;
      }

.cardbodyF2 {
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .contenedorF1{
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 10px;
          
        margin: 10px; /* Espaciado exterior para separar los contenedores */
        padding: 10px; /* Espaciado interior dentro del contenedor */
        background-color: #e5ecf6;
      }
      
      