#formulario {
    background-color: #e5ecf6;
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
}

#infoEmpresa {
    color: #424242;
    margin-bottom: 30px;
}