

.texto-principal {
    display: flex;
    word-wrap: break-word;
    text-align: left;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: -180px;
}


.texto-principal2 {
    display: flex;
    text-align: left;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 13%;

}



.texto-secundario {
    display: flex;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: -165px;
    text-align: left;
    margin-bottom: 13%;
}


.img-fluid-carrusel {
height: 550px;
width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }


  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%; /* Centra los botones verticalmente */
    transform: translateY(-50%); /* Asegura que estén perfectamente centrados */
    width: 50px; /* Ajusta el tamaño para que sea un cuadrado */
    height: 60px; /* Ajusta el tamaño para que sea un cuadrado */
    justify-content: center; /* Centra el icono dentro del botón */
    align-items: center; /* Centra el icono dentro del botón */
    background-color: #000; /* Color de fondo del cuadrado */
    border: none; /* Remueve el borde si existe alguno */
    border-radius: 0; /* Asegura que los bordes sean cuadrados */
    padding-bottom: 1%;

  }


  .boton-transparente {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff; /* Borde blanco de 1px */
    color: #fff; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Elimina el contorno predeterminado del botón al enfocarlo */
    font-size: 22px;


}

.boton-transparente:hover {
    background-color: none;
    color: none; 
}


/*responsive*/
@media only screen and (max-width: 600px) {
   
    .img-fluid-carrusel {
        height: 350px;
        width: 100%;
        }

        
.carousel-control-prev, .carousel-control-next {
    width: 12%; 
  }

  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 60%; 
    transform: translateY(-50%); 
    width: 40px;
    height: 40px; 
    justify-content: center; 
    align-items: center; 
    background-color: #000; 
    padding-bottom: 3%;
  }

.carousel-indicators{
display: flex;
top: 90%;
  }
    
.texto-principal {

 font-size: 2rem;
        }

.texto-secundario {
font-size: 1rem;
margin-bottom: 20%;
                }

.texto-principal2{
font-size: 2rem;
margin-bottom: 20%;

}
       
  .boton-transparente {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff; /* Borde blanco de 1px */
    color: #fff; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Elimina el contorno predeterminado del botón al enfocarlo */
    font-size: 22px;
    margin-top: 15%;
}

.boton-transparente:hover {
    background-color: none;
    color: none; 
}
}



/*dani css.contenedor h3 {
    margin: 0;
    word-wrap: break-word;
    color: #e5e8f6;
    text-align: left;
}
@media screen and (max-width: 1920px) {
    #carouselExampleAutoplaying { height: 100vh;
    justify-content: flex-start;
}
.izquierda {
    font-size: 5.8rem;
    line-height: 100px;
    max-width: 50%;
}
.contenedor {
    margin-top: 14px;
}
.contenedor h3 {
    max-width: 45%;
    font-size: 2rem;
}
}

@media screen and (max-width: 767px) {
    #carouselExampleAutoplaying {
        height: 45vh;
        justify-content: center;
    }
    .izquierda {
        font-size: 3.8rem;
        line-height: 55px;
        max-width: 100%;
    }  
    .contenedor {
        margin-top: 3px;
    }
    .contenedor h3 {
        max-width: 100%;
        font-size: 1.2rem;
    }

}

#carouselExampleAutoplaying {
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*/