#seleccionaAvatar {
    margin-top: 20px;
    margin-bottom: 5px;
}

.avatar-option {
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.selected-avatar {
    border: 1px solid #f3963b;

}
@media screen and (max-width: 600px) {
    .contenedor-avatar {
      display: flex;
      flex-direction: column;
      justify-content: left;
      
    }
}