  /*texto "NUESTRAS EMPRESAS"*/
  .textoEmpresa2 {
    color: #424242;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 30px;
   }

   .contenedor {
    border-radius: 20px;

   }

  
h1 {
  font-family: "Heavitas", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
h2 {
  font-family: "Heavitas", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #424242;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: italic;
  color: #424242;
}
